@use 'bulma/sass' with ($primary: #72c3e5, $orange: #ffa200)

@import "~@fortawesome/fontawesome-free/scss/fontawesome"
@import "~@fortawesome/fontawesome-free/scss/solid"

@import "./variables"

html
  min-height: 600px
  overflow: hidden

body
  position: relative
  min-height: 100vh
  min-width: 1024px
  user-select: none

#app,
.app
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden

.panel-block
  background-color: $white
  display: block
