$white: #fff
$black: #000
$primary: #72c3e5
$orange: #ffa200


$body-size: 18px
$body-background-color: $black


$menu-item-hover-background-color: $orange
$menu-item-active-background-color: $menu-item-hover-background-color


$panel-heading-background-color: $primary
$panel-item-border: 1px solid $primary


$challenge-sidebar-background-color: $white
$challenge-sidebar-opacity: 0.93
$challenge-sidebar-width: 300px !default
$challenge-sidebar-gap: 15px !default
$challenge-sidebar-padding: 15px !default
