@import "../../../sass/variables"


.toolbar
  position: absolute
  display: flex
  flex-direction: row
  left: $toolbar-gap
  top: $toolbar-gap

  > .button ~ .buttons,
  > .button ~ .field,
  > .buttons ~ .button,
  > .buttons ~ .field,
  > .field ~ .button,
  > .field ~ .buttons
    margin-left: $toolbar-button-gap

.toolbar-user-name
  width: $toolbar-user-name-width
  text-overflow: ellipsis
  color: $input-color !important
  background-color: $input-background-color !important
