$body-size: 18px
$body-background-color: #000


@import "~bulma"
@import "./components/Globe/sass/index"


html
  min-height: 600px
  overflow: hidden


body
  position: relative
  min-height: 100vh


#app,
.app
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden
